* {
    margin: 0;
}

.contenedor {
    background-image: url(https://i.pinimg.com/736x/18/64/7e/18647e1a2f04c9e54a786f32584eaf65.jpg);
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}
body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
p {
    font-size: xx-large;
    padding: 15%;
}

button {
    font-size: xx-large;
    padding: 0.75em;
    margin: 10px; /* Agregar un pequeño margen entre botones */
}

#yesBtn, #noBtn {
    position: relative;
    margin-top: 20px; /* Separación de los botones del texto */
}



/* Estilo para la imagen modal */
.modal-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; /* Relativo al tamaño de la pantalla */
    max-width: 400px; /* Limita el tamaño máximo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .modal-image {
        width: 70vw; /* Se ajusta al 70% del ancho en móviles */
        max-width: 300px; /* Limita el tamaño máximo en pantallas pequeñas */
    }
}
